<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div class="row mt-5">
			<div class="col">
				<h1 class="text-center">NOTES</h1>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col text-right">
				<a href="/notes" role="button" class="btn btn-success" id="addBtn">+ ADD NEW</a>
			</div>
		</div>
		<div class="row mt-3">
			<%notes.forEach(function (elem) {%>
			<div class="col-lg-3 col-md-4 col-sm-6 mt-3">
				<div class="card card-note" data-id="<%= elem._id%>">
						<div class="card-body">
							<h5 class="card-title"><%= elem.title%></h5>
							<p class="card-text"><%= elem.text%></p>
					
					</div>
				</div>
			</div>
			<%})%>
		</div>
		<div class="row mt-5">
			<div class="col">
				<h1 class="text-center">LISTS</h1>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col text-right">
				<a href="/lists" role="button" class="btn btn-success" id="addListBtn">+ ADD NEW LIST</a>
			</div>
		</div>
		<div class="row mt-3">
			<%list.forEach(function (elem) {%>
			<div class="col-lg-3 col-md-4 col-sm-6 mt-3">
				<div class="card card-list" data-id="<%= elem._id%>">
						<div class="card-body">
							<h5 class="card-title"><%= elem.title%></h5>
							<div>
								<ul class="list-group">
									<%elem.list.forEach(function(item){
									if(!item.status){%>
									<li class="list-group-item list-group-item-light"><%=item.text%></li><%}
								})%>
								</ul>
							</div>
							<div>
								<ul class="list-group">
									<%elem.list.forEach(function(item){
									if(item.status){%>
									<li class="list-group-item list-group-item-success"><%=item.text%></li><%}
								})%>
								</ul>
							</div>
						</div>
				</div>
			</div>
			<%})%>
		</div>
	</div>
	<script src="/js/script.js"></script>
</body>

</html>
